<div class="d-flex flex-column flex-shrink-0 p-3 bg-light w-100 sidebar">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <i class="bi bi-bootstrap fs-3 me-2"></i>
    <span class="fs-4">Bem vindo ao SGE</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark" aria-current="page">
        <i class="bi bi-house-door-fill me-2"></i> Home
      </a>
    </li>
    <li><a href="#" class="nav-link link-dark"><i class="bi bi-speedometer2 me-2"></i> Dashboard</a></li>
    <li><a href="#" class="nav-link link-dark"><i class="bi bi-table me-2"></i> Pedidos</a></li>
    <li><a href="#" class="nav-link link-dark"><i class="bi bi-grid me-2"></i> Produtos</a></li>
    <li>
      <a href="{% url 'brand_list_view' %}"
        class="nav-link {% if request.resolver_match.url_name == 'brand_list_view' %}active{% else %}link-dark{% endif %}">
        <i class="bi bi-grid me-2"></i> Marcas
      </a>
    <!--<p>{URL atual: {{ request.resolver_match.url_name }}}</p>-->
    </li>

    <li>
      <a href="{% url 'brand_create_view' %}"
        class="nav-link {% if request.resolver_match.url_name == 'brand_create_view' %}active{% else %}link-dark{% endif %}">
        <i class="bi bi-people-fill me-2"></i> Fornecedores
      </a>
    </li>

    <li><a href="#" class="nav-link link-dark"><i class="bi bi-tags me-2"></i> Categorias</a></li>
    <li><a href="#" class="nav-link link-dark"><i class="bi bi-box-arrow-in-down me-2"></i> Entradas</a></li>
    <li><a href="#" class="nav-link link-dark"><i class="bi bi-box-arrow-up me-2"></i> Saídas</a></li>
  </ul>
  <hr>
</div>